.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: gray;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}

.stats {
  display: flex;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li {
  border: 1px solid black;
}
