.profile .avatar {
  width: 150px;
  border-radius: 50%;
}

.profile .description {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 20px;
  gap: 10px;

  width: -webkit-fill-available;

  background-color: white;
}

.description p {
  margin: 0;
}

.description .name {
  font-weight: bold;
}
