.transactionHistory {
  border-spacing: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px black;
  margin-top: 40px;
}

.transactionHistory thead {
  background-color: rgb(73, 188, 234);
  color: white;
}

.transactionHistory th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.transactionHistory thead th {
  width: 130px;
  border-right: 1px solid white;
}

.transactionHistory thead th:last-child {
  border-right: 0;
}

.transactionHistory tbody tr {
  background-color: white;
}

.transactionHistory tbody tr:nth-child(2n) {
  background-color: rgb(219, 219, 219);
}

.transactionHistory tbody tr th {
  font-weight: normal;
  border-right: 1px solid black;
}

.transactionHistory tbody tr th:last-child {
  border-right: 0;
}
