.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  background-color: white;
}

.title {
  font-weight: normal;
}

.statList {
  display: flex;
  padding: 0;
  margin: 0;
}
