.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: white;
}

.title {
  font-weight: normal;
}

.statList {
  display: flex;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50px;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;

  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.item:last-child {
  border-right: 0;
}

.item .percentage {
  font-weight: bold;
}
