.item {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 0;
}

.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.name {
  width: 100px;
}
